* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/** 清除内外边距 **/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements 列表元素 */

pre,

/* text formatting elements 文本格式元素 */

form,
fieldset,
legend,
button,
input,
textarea,

/* form elements 表单元素 */

th,
td
/* table elements 表格元素 */

{
    margin: 0;
    padding: 0;
}


/** 设置默认字体 **/

body,
button,
input,
select,
textarea
/* for ie */

{
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}


/* 将斜体扶正 */

code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace;
}


/* 统一等宽字体 */

small {
    font-size: 12px;
}


/* 小于 12px 的中文很难阅读，让 small 正常化 */


/** 重置列表元素 **/

ul,
ol {
    list-style: none;
}


/** 重置文本格式元素 **/

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/** 重置表单元素 **/

legend {
    color: #000;
}


/* for ie6 */

fieldset,
img {
    border: 0;
}


/* img 搭车：让链接里的 img 无边框 */

button,
input,
select,
textarea {
    font-size: 100%;
}


/* 使得表单元素在 ie 下能继承字体大小 */


/* 注：optgroup 无法扶正 */


/** 重置表格元素 **/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
i {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

a:focus {
    outline-style: none;
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
}

textarea {
    resize: none
}

input::-ms-clear {
    display: none;
}

html,
body,
.fixapp {
    position: relative;
    height: 100%;
    overflow: hidden;
}

body {
    font: 12px 'Arial', 'Microsoft YaHei';
}
.highcharts-credits{
    display: none;
}

.mainbody {
    padding-top: 50px;
    height: 100%;
    overflow: scroll;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.dp-nav {
    position: fixed;
    width: 100%;
    max-width: 600px;
    top: 0;
    height: 50px;
    background-color: #334b60;
    color: #FFF;
    border: none;
    margin-bottom: 0;
    border: 1px solid transparent;
    text-align: center;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.dp-nav .navbar-toggle {
    /*display: none;*/
    position: absolute;
    right: 10px;
    padding: 0;
    border: 0;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.dp-nav .navbar-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand {
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    text-decoration: none;
}

.dp-nav .icon-bar {
    background-color: #fff;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.loadpage {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    background: #272525;
    opacity: .8;
    border-radius: 10px;
}

.loading {
    width: 100px;
    height: 100px;
    background: url(../images/spinner.png) no-repeat;
    background-size: 100px 100px;
    -webkit-animation: circle infinite linear .5s;
    -moz-animation: circle infinite linear .5s;
    -ms-animation: circle infinite linear .5s;
    -o-animation: circle infinite linear .5s;
    animation: circle infinite linear .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.loading-show {
    display: block;
}

.homeheader {
    padding: 18px 0;
}

.homeheader .zbicon {
    font-size: 30px;
    color: #334b60;
    margin-right: 18px;
}

.homeheader h3 {
    line-height: .75em;
    color: #BE493B;
    padding: 8px 6px;
}

.homeicons {
    background-color: #CBE7ED;
}

.iconbtn {
    text-decoration: none;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 400px) {
    .iconbtn {
        width: 20%;
    }
}

.icon {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #334B6D;
    color: #fff;
    font-size: 32px;
    line-height: 60px;
    border-radius: 8px;
}

.iconbtn p {
    margin: 5px 0;
    color: #000;
}

.iconbtn .zbicon {
    font-size: 1.2em;
    line-height: .75em;
    vertical-align: -15%;
}

.filterbar {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.filterbtn {
    width: 80px;
    line-height: 32px;
    font-size: 26px;
    border: 1px solid #afc9dd;
    color: #000;
    background-color: #e5f5fd;
}
.filterbtn:first-child {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.filterbtn:last-child {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.filterbtn.active {
    color: #fff;
    background-color: #445c6f;
}

.rankheader {
    display: flex;
    font-size: 16px;
    padding: 8px 0;
    background-color: #fff;
}

.rankheader-rever {
    font-size: 16px;
    justify-content: flex-end;
}

.ranknum {
    flex-shrink: 0;
    width: 60px
}

.rankorder {
    flex-shrink: 0;
    width: 100px;
}

.rankbutton {
    flex-shrink: 0;
    width: 120px;
}

.rankbutton .rationbtn {
    width: 100px;
    line-height: 32px;
    color: #f6f8f9;
    font-size: 18px;
    border-radius: 16px;
    background-color: #5d7e9b;
}
.rankbutton .ration{
    font-size: 14px;
    white-space: nowrap;
}

.rankorder.unlimited {
    width: auto;
}

.rankitemname {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.rankheader .rankitemname {
    justify-content: center;
}

.ranklogo {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    flex-shrink: 0;
}

.rankicon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #f7f7f7;
    background-color: #435a73;
    border: 1px solid #415669;
    width: 24px;
    height: 24px;
}

.rankitem:nth-child(1) .rankicon {
    background-color: #fec970;
    border-color: #e5aa42;
}

.rankitem:nth-child(2) .rankicon {
    background-color: #cccccc;
    border-color: #afafaf
}

.rankitem:nth-child(3) .rankicon {
    background-color: #cc9e8c;
    border-color: #ae857c;
}

.rankitem {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    padding: 14px 0;
}

.rankitem .rankbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rankitem:nth-child(even) {
    background-color: #f3f1f2;
}

.rankitem:nth-child(odd) {
    background-color: #e3f3fa;
}

.rankitem.psgrankitem {
    border-bottom: 1px solid #bec8cd;
}

.psgrankitem-order {
    flex-shrink: 0;
    flex-basis: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a84a0;
    margin-top: -14px;
    margin-bottom: -14px;
    color: #d1dae3;
    font-size: 24px;
}

.psgrankitem-info {
    text-align: left;
    flex-grow: 1;
    padding: 0 12px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.psgrankitem-title {
    padding: 8px 0;
}

.psgrankitem-ratio {
    flex-shrink: 0;
    flex-basis: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.psgrankitem-ratio p {
    margin: 2px 0;
    white-space: nowrap;
}
.detailpanel{
    padding: 10px;
}
.datefilter{
    font-size: 16px;    
    padding: 6px;
    line-height: 22px;
}
.loginpanel{
    background-color: #e5e5e5
}
.loginform{

}
.loginform input{
    background-color: #fff;
    width: 300px;
    height: 40px;
    line-height: 32px;
    font-size: 18px;
    border-radius: 5px;
    margin: 2px 0;
    border: none;
}
.loginform .loginbtn{
    margin-top: 6px;
    background-color: #425b73;
    color: #fff;
}
.kpipanel{ 
    height: 400px;
}
.kpienddate{
    font-size: 18px;
    line-height: 36px;
    padding: 0 14px;
}
.kpi-infopanel{
    padding: 10px; 
    line-height: 80px;
    font-size: 22px;
    justify-content: space-around !important;
}
.kpi-infopanel .rankicon{
    font-size: 18px;
    width: 80px;
    height: 80px;
    background-color: #fec86f;
    border:1px solid #e2a33b;
    color: #000;
    line-height: 20px;
}
.kpipanel p{
    margin: 4px;
    font-size:16px;
}
.kpipanel .userpanel,
.kpipanel .uvpanel,
.kpipanel .orderpanel{
    justify-content: space-around;

}
.userpanel{
    background-color: #f3f1f2;
    border: 2px solid #fff;

}
.uvpanel{
    background-color: #e6edf3;
    border: 2px solid #fff; 

}
.orderpanel{
    background-color: #e0e9e8;
    border: 2px solid #fff; 

}
/*global items*/
.flex{
    display: flex;
    justify-content: flex-start;
}
.flex-reverse{
    justify-content: flex-end;
}
.flex-column{
    flex-direction: column;
}
.abscenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-grow{
    flex-grow:1;
    justify-content: flex-start;
}
.flex-grow-2{
    flex-grow:2;
}
.flex-grow-3{
    flex-grow:2;
}
.flex-static{
    flex-shrink: 0;
    flex-basis: 80px;
}


.flex-static-half{
    flex-shrink: 0;
    flex-basis: 50%;
}
h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 12px;
}

.text-r {
    text-align: right
}

.text-l {
    text-align: left
}

.text-c {
    text-align: center
}

.text-danger {
    color: #930A30;
}

.text-success {
    color: #248BB0;
}
.text-primary{
    color:#344b5e;
}
.text-trendup {
    color: #c74b3c;
}

.text-trenddown {
    color: #2a6825;
}

.text-ratio {
    color: #5c7d9c;
}

.text-number {
    color: #FFC968;
}

.panel {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
}
.panel-success{
    background-color: #e3f3fa;
}

.panel .title {
    padding: 6px 0;
}

.panel .panel-body {
    text-align: right;
    font-size: 32px;
}

.panel-greeting {
    background-color: #930A30;
    color: #fff;
}

.panel-default {
    background-color: #E5E5E5;
    color: #fff;
}

.panel-default .title {
    color: #B7B7B7;
}

.card {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
}

.mr-xs {
    margin-right: 12px;
}

.mr-sm {
    margin-right: 18px;
}

.mr {
    margin-right: 24px;
}

.mr-lg {
    margin-right: 32px;
}
.pd-hor-xs{
    padding-left: 6px;
    padding-right: 6px;
}
.pd-hor-sm{
    padding-left: 12px;
    padding-right: 12px;
}
.pd-ver-0{
    padding-top: 0;
    padding-bottom: 0;
}
.pd-ver-xs{
    padding-top: 6px;
    padding-bottom: 6px;
}
.pd-ver-sm{
    padding-top: 12px;
    padding-bottom: 12px;
}
@font-face {
    font-family: "zbicon";
    src: url('../fonts/iconfont.eot?t=1482223329554');
    /* IE9*/
    src: url('../fonts/iconfont.eot?t=1482223329554#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1482223329554') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1482223329554') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1482223329554#zbicon') format('svg');
    /* iOS 4.1- */
}

.zbicon {
    font-family: "zbicon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.zbicon-weibo:before {
    content: "\e619";
}

.zbicon-wechat:before {
    content: "\e600";
}

.zbicon-click:before {
    content: "\e64c";
}

.zbicon-useradd:before {
    content: "\e603";
}

.zbicon-group:before {
    content: "\e605";
}

.zbicon-couple:before {
    content: "\e606";
}

.zbicon-recircle:before {
    content: "\e607";
}

.zbicon-broad:before {
    content: "\e608";
}

.zbicon-light:before {
    content: "\e609";
}

.zbicon-flow:before {
    content: "\e60a";
}

.zbicon-chart:before {
    content: "\e60b";
}

.zbicon-twoarrow:before {
    content: "\e60c";
}

.zbicon-curve:before {
    content: "\e60d";
}

.zbicon-rankup:before {
    content: "\e60e";
}

.zbicon-note:before {
    content: "\e60f";
}

@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading-wave-dots {
    position: relative
}

.loading-wave-dots:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    background-color: #bbb;
    border-radius: 50%;
    animation: linear loading-wave-dots 2.8s infinite
}

@keyframes loading-wave-dots {
    0% {
        box-shadow: -32px 0 0 #bbb, -16px 0 0 #bbb, 16px 0 0 #bbb, 32px 0 0 #bbb
    }
    5% {
        box-shadow: -32px -4px 0 #bbb, -16px 0 0 #bbb, 16px 0 0 #bbb, 32px 0 0 #bbb;
        transform: translateY(0)
    }
    10% {
        box-shadow: -32px -6px 0 #999, -16px -4px 0 #bbb, 16px 0 0 #bbb, 32px 0 0 #bbb;
        transform: translateY(0)
    }
    15% {
        box-shadow: -32px 2px 0 #bbb, -16px -2px 0 #999, 16px 4px 0 #bbb, 32px 4px 0 #bbb;
        transform: translateY(-4px);
        background-color: #bbb
    }
    20% {
        box-shadow: -32px 6px 0 #bbb, -16px 4px 0 #bbb, 16px 2px 0 #bbb, 32px 6px 0 #bbb;
        transform: translateY(-6px);
        background-color: #999
    }
    25% {
        box-shadow: -32px 2px 0 #bbb, -16px 2px 0 #bbb, 16px -4px 0 #999, 32px -2px 0 #bbb;
        transform: translateY(-2px);
        background-color: #bbb
    }
    30% {
        box-shadow: -32px 0 0 #bbb, -16px 0 0 #bbb, 16px -2px 0 #bbb, 32px -6px 0 #999;
        transform: translateY(0)
    }
    35% {
        box-shadow: -32px 0 0 #bbb, -16px 0 0 #bbb, 16px 0 0 #bbb, 32px -2px 0 #bbb
    }
    40% {
        box-shadow: -32px 0 0 #bbb, -16px 0 0 #bbb, 16px 0 0 #bbb, 32px 0 0 #bbb
    }
    to {
        box-shadow: -32px 0 0 #bbb, -16px 0 0 #bbb, 16px 0 0 #bbb, 32px 0 0 #bbb
    }
}

.loading-circles {
    position: relative
}

.loading-circles:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2.5px;
    margin-left: -2.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    animation: linear loading-circles .75s infinite
}

@keyframes loading-circles {
    0% {
        box-shadow: 0 -12px 0 #505050, 8.52px -8.52px 0 #646464, 12px 0 0 #797979, 8.52px 8.52px 0 #8d8d8d, 0 12px 0 #a2a2a2, -8.52px 8.52px 0 #b6b6b6, -12px 0 0 #cacaca, -8.52px -8.52px 0 #dfdfdf
    }
    12.5% {
        box-shadow: 0 -12px 0 #dfdfdf, 8.52px -8.52px 0 #505050, 12px 0 0 #646464, 8.52px 8.52px 0 #797979, 0 12px 0 #8d8d8d, -8.52px 8.52px 0 #a2a2a2, -12px 0 0 #b6b6b6, -8.52px -8.52px 0 #cacaca
    }
    25% {
        box-shadow: 0 -12px 0 #cacaca, 8.52px -8.52px 0 #dfdfdf, 12px 0 0 #505050, 8.52px 8.52px 0 #646464, 0 12px 0 #797979, -8.52px 8.52px 0 #8d8d8d, -12px 0 0 #a2a2a2, -8.52px -8.52px 0 #b6b6b6
    }
    37.5% {
        box-shadow: 0 -12px 0 #b6b6b6, 8.52px -8.52px 0 #cacaca, 12px 0 0 #dfdfdf, 8.52px 8.52px 0 #505050, 0 12px 0 #646464, -8.52px 8.52px 0 #797979, -12px 0 0 #8d8d8d, -8.52px -8.52px 0 #a2a2a2
    }
    50% {
        box-shadow: 0 -12px 0 #a2a2a2, 8.52px -8.52px 0 #b6b6b6, 12px 0 0 #cacaca, 8.52px 8.52px 0 #dfdfdf, 0 12px 0 #505050, -8.52px 8.52px 0 #646464, -12px 0 0 #797979, -8.52px -8.52px 0 #8d8d8d
    }
    62.5% {
        box-shadow: 0 -12px 0 #8d8d8d, 8.52px -8.52px 0 #a2a2a2, 12px 0 0 #b6b6b6, 8.52px 8.52px 0 #cacaca, 0 12px 0 #dfdfdf, -8.52px 8.52px 0 #505050, -12px 0 0 #646464, -8.52px -8.52px 0 #797979
    }
    75% {
        box-shadow: 0 -12px 0 #797979, 8.52px -8.52px 0 #8d8d8d, 12px 0 0 #a2a2a2, 8.52px 8.52px 0 #b6b6b6, 0 12px 0 #cacaca, -8.52px 8.52px 0 #dfdfdf, -12px 0 0 #505050, -8.52px -8.52px 0 #646464
    }
    87.5% {
        box-shadow: 0 -12px 0 #646464, 8.52px -8.52px 0 #797979, 12px 0 0 #8d8d8d, 8.52px 8.52px 0 #a2a2a2, 0 12px 0 #b6b6b6, -8.52px 8.52px 0 #cacaca, -12px 0 0 #dfdfdf, -8.52px -8.52px 0 #505050
    }
    to {
        box-shadow: 0 -12px 0 #505050, 8.52px -8.52px 0 #646464, 12px 0 0 #797979, 8.52px 8.52px 0 #8d8d8d, 0 12px 0 #a2a2a2, -8.52px 8.52px 0 #b6b6b6, -12px 0 0 #cacaca, -8.52px -8.52px 0 #dfdfdf
    }
}

.loading-bubbles {
    position: relative
}

.loading-bubbles:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -.5px;
    margin-left: -.5px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    animation: linear loading-bubbles .85s infinite
}

@keyframes loading-bubbles {
    0% {
        box-shadow: 0 -12px 0 .4px #666, 8.52px -8.52px 0 .8px #666, 12px 0 0 1.2px #666, 8.52px 8.52px 0 1.6px #666, 0 12px 0 2px #666, -8.52px 8.52px 0 2.4px #666, -12px 0 0 2.8px #666, -8.52px -8.52px 0 3.2px #666
    }
    12.5% {
        box-shadow: 0 -12px 0 3.2px #666, 8.52px -8.52px 0 .4px #666, 12px 0 0 .8px #666, 8.52px 8.52px 0 1.2px #666, 0 12px 0 1.6px #666, -8.52px 8.52px 0 2px #666, -12px 0 0 2.4px #666, -8.52px -8.52px 0 2.8px #666
    }
    25% {
        box-shadow: 0 -12px 0 2.8px #666, 8.52px -8.52px 0 3.2px #666, 12px 0 0 .4px #666, 8.52px 8.52px 0 .8px #666, 0 12px 0 1.2px #666, -8.52px 8.52px 0 1.6px #666, -12px 0 0 2px #666, -8.52px -8.52px 0 2.4px #666
    }
    37.5% {
        box-shadow: 0 -12px 0 2.4px #666, 8.52px -8.52px 0 2.8px #666, 12px 0 0 3.2px #666, 8.52px 8.52px 0 .4px #666, 0 12px 0 .8px #666, -8.52px 8.52px 0 1.2px #666, -12px 0 0 1.6px #666, -8.52px -8.52px 0 2px #666
    }
    50% {
        box-shadow: 0 -12px 0 2px #666, 8.52px -8.52px 0 2.4px #666, 12px 0 0 2.8px #666, 8.52px 8.52px 0 3.2px #666, 0 12px 0 .4px #666, -8.52px 8.52px 0 .8px #666, -12px 0 0 1.2px #666, -8.52px -8.52px 0 1.6px #666
    }
    62.5% {
        box-shadow: 0 -12px 0 1.6px #666, 8.52px -8.52px 0 2px #666, 12px 0 0 2.4px #666, 8.52px 8.52px 0 2.8px #666, 0 12px 0 3.2px #666, -8.52px 8.52px 0 .4px #666, -12px 0 0 .8px #666, -8.52px -8.52px 0 1.2px #666
    }
    75% {
        box-shadow: 0 -12px 0 1.2px #666, 8.52px -8.52px 0 1.6px #666, 12px 0 0 2px #666, 8.52px 8.52px 0 2.4px #666, 0 12px 0 2.8px #666, -8.52px 8.52px 0 3.2px #666, -12px 0 0 .4px #666, -8.52px -8.52px 0 .8px #666
    }
    87.5% {
        box-shadow: 0 -12px 0 .8px #666, 8.52px -8.52px 0 1.2px #666, 12px 0 0 1.6px #666, 8.52px 8.52px 0 2px #666, 0 12px 0 2.4px #666, -8.52px 8.52px 0 2.8px #666, -12px 0 0 3.2px #666, -8.52px -8.52px 0 .4px #666
    }
    to {
        box-shadow: 0 -12px 0 .4px #666, 8.52px -8.52px 0 .8px #666, 12px 0 0 1.2px #666, 8.52px 8.52px 0 1.6px #666, 0 12px 0 2px #666, -8.52px 8.52px 0 2.4px #666, -12px 0 0 2.8px #666, -8.52px -8.52px 0 3.2px #666
    }
}

.loading-default {
    position: relative;
    border: 1px solid #999;
    animation: ease loading-rotating 1.5s infinite
}

.loading-default:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    width: 6px;
    height: 6px;
    background-color: #999;
    border-radius: 50%
}

.loading-spiral {
    border: 2px solid #777;
    border-right-color: transparent;
    animation: linear loading-rotating .85s infinite
}

@keyframes loading-rotating {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(1turn)
    }
}

.infinite-loading-container {
    clear: both;
    text-align: center
}

.infinite-loading-container [class^=loading-] {
    display: inline-block;
    margin: 15px 0;
    width: 28px;
    height: 28px;
    font-size: 28px;
    line-height: 28px;
    border-radius: 50%
}

.infinite-status-prompt {
    color: #666;
    font-size: 14px;
    text-align: center;
    padding: 10px 0
}

.slide-fade-enter-active {
  transition: all 1s ease;
}
.slide-fade-leave-active {
  transition: all 1s ease;
}
.slide-fade-enter{
  transform: translateY(-30px);
  opacity: 0;
}
.slide-fade-leave-active { 
  transform: translateY(-30px);
  opacity: 0; 
  height: 0;
}
